.header {
    background: linear-gradient(0deg, rgb(152, 195, 232, 0.2) 0%, rgba(152, 195, 232, 0) 31.12%);
    margin: 0px 0px 60px 0px;

    @media (min-width: 768px) {
        margin: 0px 0px 120px 0px;
    }

    @media (min-width: 992px) {
        margin: 0px 0px 180px 0px;
    }
}

.header__wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 15px;
    @media (min-width: 768px) {
        background-image: url('../img/bg/illustration.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 100% 0%;
    }

    @media (min-width: 992px) {
        background-image: url('../img/bg/illustration.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 100% 0%;
    }
}

.header__content {
    width: 100%;
    padding: 18px 0px 70px 0px;

    @media (min-width: 768px) {
        padding: 38px 0px 130px 0px;
    }

    @media (min-width: 992px) {
        padding: 58px 0px 170px 0px;
    }
}

.header__title {
    width: 100%;
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 4px;
    color: $blue-01;
    margin: 0px 0px 32px 0px;

    @media (min-width: 768px) {
        width: 80%;
        font-size: 44px;
    }

    @media (min-width: 992px) {
        width: 70%;
        font-size: 54px;
    }

    @media (min-width: 1200px) {
        font-size: 64px;
    }
}

.header__text {
    width: 100%;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.05em;
    color: $blue-01;
    opacity: 0.6;
    margin: 0px 0px 70px 0px;

    p {
        margin: 0px 0px 20px 0px;
    }

    p:last-child {
        margin: 0px;
    }
    
    @media (min-width: 768px) {
        width: 80%;
        padding: 0px 205px 0px 0px;
    }

    @media (min-width: 992px) {
        width: 70%;
        padding: 0px 205px 0px 0px;
    }
}

.btn {
    display: inline-block;
    border-radius: 10px;
    height: 56px;
    margin: 0px 0px 20px 0px;

    //text-align: center;
    font-size: 16px;
    line-height: 1.6;
    color: $white;
    transition: all 0.2s ease-in;

    &:hover {
        background: $blue-01;
    }

    &:active {
        background: $blue-03;
        color: $blue-05;
    }
}

.header__btn {
    background: $blue-04;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    padding: 15px 48px 0px 48px;
}