//<ШРИФТЫ>===================================================================================================================================

//<Подключаем шрифты>========================================================================================================================
@import "blocks/sourse-styles/fonts.scss";
//</Подключаем шрифты>=======================================================================================================================

//<Шрифт по умолчанию>=======================================================================================================================
$fontfamily:'Gilroy';
//</Шрифт по умолчанию>======================================================================================================================

//</ШРИФТЫ>==================================================================================================================================



//<ПЕРЕМЕННЫЕ>===============================================================================================================================
$min-width: 320px;

$blue-01: #1F3F68;
$blue-02: #316099;
$blue-03: #356EAD;
$blue-04: #5A98D0;
$blue-05: #98C3E8;
$white: #ffffff;
//</ПЕРЕМЕННЫЕ>==============================================================================================================================



//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================================
@import "blocks/sourse-styles/null.scss";

body {
	font-weight: 400;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>==============================================================================================================



//<ОБОЛОЧКА>=================================================================================================================================
.wrapper {
	min-height: 100%;
	//overflow: hidden;
}
//</ОБОЛОЧКА>================================================================================================================================



//<ОСНОВНАЯ СЕТКА>===========================================================================================================================
.container {
	max-width: 970px;
	margin: 0 auto;
	padding: 0px 15px;
}

.nav__container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0px 15px;
}
//</ОСНОВНАЯ СЕТКА>==========================================================================================================================



//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>============================================================================================
@import "blocks/sourse-styles/titles.scss";
@import "blocks/sourse-styles/base.scss";

@import "blocks/header-styles/header.scss";
@import "blocks/header-styles/header-page.scss";

@import "blocks/nav-styles/nav.scss";

@import "blocks/section-styles/cards.scss";
@import "blocks/section-styles/finish.scss";
@import "blocks/section-styles/clients.scss";

@import "blocks/blog-sections/popular.scss";
@import "blocks/blog-sections/articles.scss";

@import "blocks/contacts-section/contacts.scss";

@import "blocks/footer-styles/footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>===========================================================================================



//<ОСНОВНОЙ БЛОК>============================================================================================================================

//</ОСНОВНОЙ БЛОК>===========================================================================================================================

//<ВСПОМОГАТЕЛЬНЫЕ СТИЛИ>====================================================================================================================
.none {
	display: none;
}
//</ВСПОМОГАТЕЛЬНЫЕ СТИЛИ>===================================================================================================================