@charset "UTF-8";
@font-face {
  font-family: "Chronicle Display";
  src: url("../fonts/Chronicle Display Bold.eot");
  src: local("☺"), url("../fonts/Chronicle Display Bold.woff") format("woff"), url("../fonts/Chronicle Display Bold.ttf") format("truetype"), url("../fonts/Chronicle Display Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("☺"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype"), url("../fonts/Gilroy-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.eot");
  src: local("☺"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("☺"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/Gilroy-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("☺"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype"), url("../fonts/Gilroy-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: local("☺"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype"), url("../fonts/Gilroy-SemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  font-family: "Gilroy";
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Gilroy";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

body {
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
}

.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0px 15px;
}

.nav__container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px;
}

.title-CD {
  font-family: "Chronicle Display";
  font-weight: 800;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "gilroy";
}

.title {
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: normal;
  font-weight: 600;
}
@media (min-width: 1200px) {
  .title {
    font-size: 36px;
  }
}

.title-page {
  font-size: 24px;
  line-height: 1.6;
  letter-spacing: 0.04em;
  font-weight: 600;
  color: #ffffff;
  margin: 0px 0px 16px 0px;
}
@media (min-width: 1200px) {
  .title-page {
    font-size: 34px;
  }
}
@media (min-width: 1200px) {
  .title-page {
    font-size: 44px;
  }
}

.header {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(152, 195, 232, 0.2)), color-stop(31.12%, rgba(152, 195, 232, 0)));
  background: linear-gradient(0deg, rgba(152, 195, 232, 0.2) 0%, rgba(152, 195, 232, 0) 31.12%);
  margin: 0px 0px 60px 0px;
}
@media (min-width: 768px) {
  .header {
    margin: 0px 0px 120px 0px;
  }
}
@media (min-width: 992px) {
  .header {
    margin: 0px 0px 180px 0px;
  }
}

.header__wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 15px;
}
@media (min-width: 768px) {
  .header__wrapper {
    background-image: url("../img/bg/illustration.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 0%;
  }
}
@media (min-width: 992px) {
  .header__wrapper {
    background-image: url("../img/bg/illustration.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 0%;
  }
}

.header__content {
  width: 100%;
  padding: 18px 0px 70px 0px;
}
@media (min-width: 768px) {
  .header__content {
    padding: 38px 0px 130px 0px;
  }
}
@media (min-width: 992px) {
  .header__content {
    padding: 58px 0px 170px 0px;
  }
}

.header__title {
  width: 100%;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 4px;
  color: #1F3F68;
  margin: 0px 0px 32px 0px;
}
@media (min-width: 768px) {
  .header__title {
    width: 80%;
    font-size: 44px;
  }
}
@media (min-width: 992px) {
  .header__title {
    width: 70%;
    font-size: 54px;
  }
}
@media (min-width: 1200px) {
  .header__title {
    font-size: 64px;
  }
}

.header__text {
  width: 100%;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
  margin: 0px 0px 70px 0px;
}
.header__text p {
  margin: 0px 0px 20px 0px;
}
.header__text p:last-child {
  margin: 0px;
}
@media (min-width: 768px) {
  .header__text {
    width: 80%;
    padding: 0px 205px 0px 0px;
  }
}
@media (min-width: 992px) {
  .header__text {
    width: 70%;
    padding: 0px 205px 0px 0px;
  }
}

.btn {
  display: inline-block;
  border-radius: 10px;
  height: 56px;
  margin: 0px 0px 20px 0px;
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.btn:hover {
  background: #1F3F68;
}
.btn:active {
  background: #356EAD;
  color: #98C3E8;
}

.header__btn {
  background: #5A98D0;
  -webkit-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
          box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  padding: 15px 48px 0px 48px;
}

.header-page {
  max-width: 1366px;
  margin: 0 auto 58px;
}

.header-page__wrapper {
  padding: 30px 0px 50px 0px;
  margin: 0px 0px 36px 0px;
  text-align: center;
  background-image: url("../img/bg/header-page-bg.svg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .header-page__wrapper {
    padding: 50px 0px 50px 0px;
    margin: 0px 0px 56px 0px;
  }
}

.header-page__content {
  max-width: 810px;
  padding: 0px 15px;
  margin: 0 auto;
}

.header-page__text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  opacity: 0.4;
}
@media (min-width: 768px) {
  .header-page__text {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .header-page__text {
    font-size: 20px;
  }
}

.form-page {
  position: relative;
}
.form-page button {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 56px;
  height: 56px;
  border-radius: 10px;
}

.form-page__search {
  background: #F4F4F4;
  border-radius: 10px;
  height: 56px;
  width: 100%;
  padding: 0px 0px 0px 72px;
  font-size: 16px;
  line-height: 1.2;
  color: #1F3F68;
}
.form-page__search::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  color: #1F3F68;
  opacity: 0.6;
}
.form-page__search::-moz-placeholder {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  color: #1F3F68;
  opacity: 0.6;
}
.form-page__search:-ms-input-placeholder {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  color: #1F3F68;
  opacity: 0.6;
}
.form-page__search::-ms-input-placeholder {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  color: #1F3F68;
  opacity: 0.6;
}
.form-page__search::placeholder {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  color: #1F3F68;
  opacity: 0.6;
}

.nav {
  padding: 40px 0px 0px 0px;
  margin: 0px 0px 42px 0px;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  display: block;
  position: relative;
  margin: 0px 0px 0px 16px;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
  color: #316099;
  text-align: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #316099;
  background: #ffffff;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.nav__logo::before {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #316099;
  z-index: -1;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.nav__logo:hover {
  color: #5A98D0;
}
.nav__logo:active {
  color: #1F3F68;
}
.nav__logo:hover::before {
  background: #5A98D0;
}
.nav__logo:active::before {
  background: #1F3F68;
}

.nav__menu span {
  display: block;
  margin: 0px 0px 3px 0px;
  width: 24px;
  height: 3px;
  background: #356EAD;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.nav__menu span:last-child {
  margin: 0;
}
.nav__menu:hover {
  cursor: pointer;
}
.nav__menu:hover span {
  background: #5A98D0;
}

.content__cards {
  margin: 0px 0px 22px 0px;
}
@media (min-width: 768px) {
  .content__cards {
    margin: 0px 0px 42px 0px;
  }
}
@media (min-width: 1200px) {
  .content__cards {
    margin: 0px 0px 92px 0px;
  }
}

.cards__title {
  color: #316099;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 58px 0px;
}
@media (min-width: 768px) {
  .cards__title {
    margin: 0px 0px 108px 0px;
  }
}
@media (min-width: 1200px) {
  .cards__title {
    padding: 0px 85px 0px 0px;
    margin: 0px 0px 158px 0px;
  }
}

.card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1200px) {
  .card__wrapper {
    padding: 0px 15px 0px 75px;
  }
}

.card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1200px) {
  .card__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.card__col--1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin: 0px 0px 0px 0px;
}
@media (min-width: 1200px) {
  .card__col--1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

.card__col--2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1200px) {
  .card__col--2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding: 0px 0px 0px 85px;
  }
}

.card {
  width: 80%;
  background: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  padding: 28px 28px 18px 28px;
  margin: 0px 0px 40px 0px;
}
@media (min-width: 768px) {
  .card {
    width: 40%;
    padding: 38px 38px 28px 38px;
    margin: 0px 0px 70px 0px;
  }
}
@media (min-width: 1200px) {
  .card {
    width: 100%;
    padding: 48px 48px 38px 48px;
    margin: 0px 0px 100px 0px;
  }
}

.card--c {
  width: 80%;
}
@media (min-width: 768px) {
  .card--c {
    width: 40%;
  }
}
@media (min-width: 1200px) {
  .card--c {
    width: 100%;
  }
}

.card--l {
  position: relative;
  padding: 230px 28px 18px 28px;
}
@media (min-width: 768px) {
  .card--l {
    padding: 200px 38px 28px 38px;
  }
}
@media (min-width: 1200px) {
  .card--l {
    padding: 230px 48px 38px 48px;
  }
}

.card__img {
  margin: 0px 0px 55px 0px;
}
@media (min-width: 768px) {
  .card__img {
    margin: 0px 0px 45px 0px;
  }
}
@media (min-width: 1200px) {
  .card__img {
    margin: 0px 0px 55px 0px;
  }
}

.card__img--l {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
}

.card__title {
  margin: 0px 0px 16px 0px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  color: #1F3F68;
}
@media (min-width: 768px) {
  .card__title {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .card__title {
    font-size: 20px;
  }
}

.card__text {
  margin: 0px 0px 12px 0px;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
}
@media (min-width: 768px) {
  .card__text {
    margin: 0px 0px 22px 0px;
  }
}
@media (min-width: 1200px) {
  .card__text {
    margin: 0px 0px 32px 0px;
  }
}

.card__btn {
  display: inline-block;
  background: url("../img/vector-cards/arrow-btn.svg") 95% 50% no-repeat;
  margin: 0px 0px 10px 0px;
  padding: 5px 45px 5px 5px;
  font-size: 14px;
  line-height: 2.15;
  letter-spacing: 0.05em;
  color: #5A98D0;
  border: 1px solid #ffffff;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.card__btn:hover {
  border: 1px solid #356EAD;
}
.card__btn:active {
  color: #98C3E8;
  border: 1px solid #98C3E8;
}

.finish {
  padding: 0px 0px 52px 0px;
}
@media (min-width: 768px) {
  .finish {
    padding: 0px 0px 102px 0px;
  }
}
@media (min-width: 1200px) {
  .finish {
    padding: 0px 0px 152px 0px;
  }
}

.finish__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 56px 0px;
}
@media (min-width: 768px) {
  .finish__row {
    margin: 0px 0px 76px 0px;
  }
}
@media (min-width: 1200px) {
  .finish__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0px 0px 96px 0px;
  }
}

.finish__title {
  text-align: center;
  color: #1F3F68;
  margin: 0px 0px 20px 0px;
}
@media (min-width: 1200px) {
  .finish__title {
    text-align: left;
    margin: 0px 0px 0px 0px;
  }
}

.finish__text {
  width: 80%;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
}

.finish__card-b {
  text-align: center;
  margin: 0px 0px 49px 0px;
  padding: 28px 0px 0px 0px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  background-image: url("../img/finish/card-b-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: 1px solid #000000;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 0;
}
.finish__card-b::before {
  position: absolute;
  display: block;
  content: "";
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(89.99deg, #1F3F68 3.62%, rgba(31, 63, 104, 0.37) 97.78%);
}
@media (min-width: 768px) {
  .finish__card-b {
    margin: 0px 0px 69px 0px;
    padding: 38px 0px 0px 0px;
  }
}
@media (min-width: 1200px) {
  .finish__card-b {
    -moz-text-align-last: left;
         text-align-last: left;
    margin: 0px 0px 89px 0px;
    padding: 48px 65px 0px 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.fcard-b__img {
  padding: 23px 0px 0px 0px;
  position: relative;
  z-index: 1;
}
.fcard-b__img img {
  display: block;
  max-width: 100%;
  height: auto;
}

.fcard-b__content {
  position: relative;
  z-index: 1;
}

.fcard__title {
  font-size: 28px;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.fcard__text {
  font-size: 16px;
  line-height: 2.9;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.8;
}

.finish__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.finish__card-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 0px 24px 0px 24px;
  margin: 0px auto 40px auto;
}
@media (min-width: 768px) {
  .finish__card-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 422px;
            flex: 0 0 422px;
  }
}
@media (min-width: 1200px) {
  .finish__card-wrapper {
    margin: 0px 0px 40px 0px;
  }
}

.finish__card {
  height: 417px;
  margin: 0px -24px 0px -24px;
  border-radius: 10px;
}

.finish__card-1 {
  position: relative;
  background-image: url("../img/finish/fcard-bg-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.finish__card-1::before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(308.85deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%);
}

.finish__card-2 {
  position: relative;
  background-image: url("../img/finish/fcard-bg-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.finish__card-2::before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(306.48deg, rgba(66, 165, 245, 0.4) 0%, rgba(21, 101, 192, 0.6) 97.81%);
}

.fcard__content {
  position: relative;
  z-index: 1;
  padding: 24px 0px 0px 32px;
}

.client {
  background: #5A98D0;
  border-radius: 100px 0px 0px 0px;
  padding: 36px 0px 0px 0px;
}
@media (min-width: 768px) {
  .client {
    border-radius: 150px 0px 0px 0px;
    padding: 66px 0px 0px 0px;
  }
}
@media (min-width: 1200px) {
  .client {
    border-radius: 200px 0px 0px 0px;
    padding: 96px 0px 0px 0px;
  }
}

.client__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 61px 0px;
}
@media (min-width: 768px) {
  .client__row {
    margin: 0px 0px 81px 0px;
  }
}
@media (min-width: 1200px) {
  .client__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0px 0px 111px 0px;
  }
}

.client__title {
  text-align: center;
  color: #ffffff;
  margin: 0px 0px 20px 0px;
}
@media (min-width: 1200px) {
  .client__title {
    text-align: left;
    margin: 0px 0px 0px 0px;
  }
}

.client__text {
  width: 80%;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.6;
}

.clients__table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  margin: 0px 0px 45px 0px;
}
@media (min-width: 768px) {
  .clients__table {
    margin: 0px 0px 85px 0px;
  }
}
@media (min-width: 1200px) {
  .clients__table {
    margin: 0px 0px 125px 0px;
  }
}

td {
  display: block;
  width: 70%;
  margin: 0 auto;
  padding: 41px 0px;
  text-align: center;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
td:hover {
  background-color: #1F3F68;
}
td:hover .table__link {
  color: #98C3E8;
}
@media (min-width: 768px) {
  td {
    display: inline-block;
    width: 25%;
    margin: 0;
  }
}

.table__cell--top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-right: none;
}
@media (min-width: 768px) {
  .table__cell--top {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }
  .table__cell--top:last-child {
    border-right: none;
  }
}

.table__cell--bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-right: none;
}
@media (min-width: 768px) {
  .table__cell--bottom {
    border-top: none;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }
  .table__cell--bottom:last-child {
    border-right: none;
  }
}

.table__link {
  font-size: 16px;
  line-height: 2.3;
  letter-spacing: 0.02em;
  color: #F2F2F2;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media (min-width: 1200px) {
  .table__link {
    font-size: 20px;
  }
}

.popular {
  margin: 0px 0px 56px 0px;
}

.popular-cards {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.aside__link--top {
  display: block;
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  font-weight: 600;
  color: #356EAD;
  opacity: 0.8;
  text-transform: uppercase;
  margin: 0px 0px 32px 0px;
}

.aside__link--bottom {
  text-align: right;
  display: block;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  font-weight: 600;
  color: #356EAD;
  opacity: 0.8;
  text-transform: uppercase;
  margin: 0px 0px 24px 0px;
}

.popular-cards__row--b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin: 0px 0px 60px 0px;
}
@media (min-width: 1200px) {
  .popular-cards__row--b {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0px 0px 33px 0px;
  }
}

.row--b__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
@media (min-width: 1200px) {
  .row--b__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 45%;
            flex: 1 1 45%;
  }
}

.row--b__title {
  width: 80%;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  font-weight: 700;
  color: #1F3F68;
  margin: 0px auto 16px auto;
}
@media (min-width: 768px) {
  .row--b__title {
    width: 50%;
    font-size: 38px;
  }
}
@media (min-width: 1200px) {
  .row--b__title {
    width: 100%;
    font-size: 48px;
    margin: 0px 0px 32px 0px;
  }
}

.row--b__text {
  width: 80%;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.6);
  margin: 0px auto 0px auto;
}
.row--b__text p {
  margin: 0px 0px 16px 0px;
}
@media (min-width: 768px) {
  .row--b__text {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .row--b__text {
    width: 100%;
  }
  .row--b__text p {
    margin: 0px 0px 32px 0px;
  }
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1200px) {
  .author {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.author-data {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.04em;
  margin: 0px 101px 0px 0px;
}

.author__name {
  color: #1F3F68;
  margin: 0px 0px 4px 0px;
}

.author__time {
  color: rgba(0, 0, 0, 0.4);
}

.author__bookmark {
  margin: 0px 35px 0px 0px;
}

.row--b__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin: 0px auto 16px auto;
}
.row--b__img img {
  max-width: 100%;
  display: block;
}
@media (min-width: 1200px) {
  .row--b__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55%;
            flex: 0 0 55%;
    padding: 0px 0px 0px 20px;
    margin: 0px;
  }
  .row--b__img img {
    max-width: 100%;
    min-height: 100%;
    display: block;
  }
}

.popular-cards__row--s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 53px 0px;
}
@media (min-width: 1200px) {
  .popular-cards__row--s {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.row--s__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin: 0px 0px 60px 0px;
}
.row--s__content:last-child {
  margin: 0px;
}
@media (min-width: 1200px) {
  .row--s__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%;
    margin: 0px 0px 0px 0px;
  }
}

.row--s__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin: 0px 0px 16px 0px;
}
.row--s__img img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .row--s__img img {
    max-width: 100%;
    min-height: 100%;
    display: block;
    margin: 0;
  }
}

.row--s__title {
  width: 80%;
  font-size: 18px;
  line-height: 1.35;
  letter-spacing: 0.04em;
  font-weight: 700;
  color: #1F3F68;
  margin: 0px auto 16px auto;
}
@media (min-width: 768px) {
  .row--s__title {
    width: 50%;
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  .row--s__title {
    font-size: 28px;
    width: 100%;
    margin: 0px 0px 16px 0px;
  }
}

.row--s__text {
  width: 80%;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.6);
  margin: 0px auto 0px auto;
}
.row--s__text p {
  margin: 0px 0px 16px 0px;
}
@media (min-width: 768px) {
  .row--s__text {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .row--s__text {
    width: 100%;
    margin: 0px 0px 0px 0px;
  }
}

.article {
  margin: 0px 0px 60px 0px;
}
@media (min-width: 768px) {
  .article {
    margin: 0px 0px 96px 0px;
  }
}

.aside__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1200px) {
  .aside__slider {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.slider__link {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  font-weight: 600;
  color: #356EAD;
  opacity: 0.8;
  background-repeat: no-repeat;
}

.slider__link--left {
  display: block;
  padding: 0px 0px 0px 34px;
  background-image: url("../img/icons/arrow-left.svg");
  background-position: 0 5px;
  margin: 0px 34px 0px 0px;
}
@media (min-width: 1200px) {
  .slider__link--left {
    margin: 0px 0px 0px 0px;
  }
}

.slider__link--right {
  display: block;
  padding: 0px 34px 0px 0px;
  background-image: url("../img/icons/arrow-right.svg");
  background-position: 100% 5px;
  margin: 0px 0px 0px 34px;
}
@media (min-width: 1200px) {
  .slider__link--right {
    margin: 0px 0px 0px 0px;
  }
}

.article-cards__row--a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 60px 0px;
}
.article-cards__row--a:last-child {
  margin: 0px 0px 0px 0px;
}
@media (min-width: 1200px) {
  .article-cards__row--a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0px 0px 32px 0px;
  }
}

.row--a__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin: 0px 0px 16px 0px;
}
.row--a__img img {
  display: block;
  max-width: 100%;
  margin: 0px auto 0px auto;
}
@media (min-width: 1200px) {
  .row--a__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%;
    margin: 0px 0px 0px 0px;
  }
  .row--a__img img {
    display: block;
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    margin: 0px auto 0px auto;
    margin: 0px 0px 0px 0px;
  }
}

.row--a__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 0px 0px 0px 0px;
}
@media (min-width: 1200px) {
  .row--a__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0px 0px 0px 19px;
  }
}

.row--a__title {
  width: 90%;
  font-size: 28px;
  line-height: 1.35;
  letter-spacing: 0.04em;
  font-weight: 700;
  color: #1F3F68;
  margin: 0px auto 16px auto;
}
@media (min-width: 768px) {
  .row--a__title {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .row--a__title {
    width: 100%;
    margin: 0px 0px 16px 0px;
  }
}

.row--a__text {
  width: 90%;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.6);
  margin: 0px auto 0px auto;
}
.row--a__text p {
  margin: 0px 0px 14px 0px;
}
@media (min-width: 768px) {
  .row--a__text {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .row--a__text {
    width: 100%;
    margin: 0px 0px 0px 0px;
  }
}

.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 0px 0px 60px 0px;
}
@media (min-width: 1200px) {
  .contacts__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px 0px 96px 0px;
  }
}

.contacts__desc {
  text-align: center;
  padding: 0px 0px 0px 0px;
}
@media (min-width: 1200px) {
  .contacts__desc {
    text-align: left;
    padding: 56px 101px 56px 0px;
  }
}

.desc__img {
  margin: 0px 0px 71px 0px;
}
.desc__img img {
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
  display: block;
}
@media (min-width: 1200px) {
  .desc__img {
    margin: 0px 0px 71px 0px;
  }
  .desc__img img {
    margin: 0 0;
    max-width: 100%;
    height: 100%;
    display: block;
  }
}

.desc__adress {
  margin: 0px auto 50px auto;
  width: 80%;
}
@media (min-width: 768px) {
  .desc__adress {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .desc__adress {
    width: 100%;
    margin: 0px 0px 50px 0px;
  }
}

.desc__title {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 600;
  color: #1F3F68;
  margin: 0px 0px 30px 0px;
}

.desc__text {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.04em;
  font-weight: 300;
  color: #1F3F68;
  opacity: 0.6;
}
.desc__text p {
  margin: 0px 0px 40px 0px;
}

.desc__phone {
  margin: 0px auto 50px auto;
  width: 80%;
}
@media (min-width: 768px) {
  .desc__phone {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .desc__phone {
    width: 100%;
    margin: 0px 0px 50px 0px;
  }
}

.desc__list li {
  margin: 0px 0px 16px 0px;
}

.desc__link {
  display: inline-block;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.6;
  padding: 0px 0px 0px 40px;
  background-position: 0 4px;
  background-repeat: no-repeat;
}

.desc__link--p {
  background-image: url("../img/icons/phone-icon.svg");
}

.desc__link--i {
  background-image: url("../img/icons/internet-icon.svg");
}

.desc__link--m {
  background-image: url("../img/icons/mail-icon.svg");
}

.desc__online {
  margin: 0px auto 50px auto;
  width: 80%;
}
@media (min-width: 768px) {
  .desc__online {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .desc__online {
    width: 100%;
    margin: 0px 0px 50px 0px;
  }
}

.contacts__form-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  padding: 56px 56px 56px 56px;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}

.contacts__form__title {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 600;
  color: #1F3F68;
  text-transform: uppercase;
  margin: 0px 0px 48px 0px;
}

.form__contacts * {
  display: block;
  width: 100%;
}
.form__contacts *::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.04em;
  font-weight: 300;
  color: #1F3F68;
  opacity: 0.6;
}
.form__contacts *::-moz-placeholder {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.04em;
  font-weight: 300;
  color: #1F3F68;
  opacity: 0.6;
}
.form__contacts *:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.04em;
  font-weight: 300;
  color: #1F3F68;
  opacity: 0.6;
}
.form__contacts *::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.04em;
  font-weight: 300;
  color: #1F3F68;
  opacity: 0.6;
}
.form__contacts *::placeholder {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.04em;
  font-weight: 300;
  color: #1F3F68;
  opacity: 0.6;
}

.input {
  margin: 0px 0px 32px 0px;
  opacity: 0.4;
  border: 1px solid #356EAD;
  border-radius: 10px;
  padding: 0px 0px 0px 36px;
}

.label {
  margin: 0px 0px 8px 0px;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.8;
}

.input__name {
  height: 72px;
}

.input__email {
  height: 72px;
}

.textarea__message {
  margin: 0px 0px 72px 0px;
  opacity: 0.4;
  border: 1px solid #356EAD;
  border-radius: 10px;
  padding: 0px 0px 0px 36px;
  padding: 21px 0px 0px 36px;
}

.contacts__btn {
  background: #5A98D0;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  height: 72px;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-transform: uppercase;
}

.contacts__map {
  margin: 0px 0px 60px 0px;
}
.contacts__map img {
  display: block;
  max-width: 100%;
  height: 100%;
}
@media (min-width: 1200px) {
  .contacts__map {
    margin: 0px 0px 96px 0px;
  }
}

.footer {
  background-color: #316099;
  border-radius: 0px 100px 0px 0px;
  margin: 0px 0px 0px 0px;
}
@media (min-width: 768px) {
  .footer {
    border-radius: 0px 200px 0px 0px;
    margin: 0px 96px 0px 0px;
  }
}

.footer__wrapper-before {
  position: relative;
}
.footer__wrapper-before::before {
  position: absolute;
  display: block;
  content: "";
  width: 85%;
  height: 1px;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
  opacity: 0.4;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1200px) {
  .footer__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__row-01 {
  padding: 21px 0px 46px 0px;
}
@media (min-width: 768px) {
  .footer__row-01 {
    padding: 51px 0px 66px 0px;
  }
}
@media (min-width: 1200px) {
  .footer__row-01 {
    padding: 91px 0px 96px 45px;
  }
}

.footer__row-02 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 27px 0px 44px 0px;
}
@media (min-width: 768px) {
  .footer__row-02 {
    padding: 57px 0px 54px 0px;
  }
}
@media (min-width: 1200px) {
  .footer__row-02 {
    padding: 97px 0px 64px 45px;
  }
}

.footer__title {
  text-align: center;
  width: 100%;
  color: #ffffff;
  margin: 0px 0px 32px 0px;
  padding: 0px 15px 0px 0px;
}
@media (min-width: 1200px) {
  .footer__title {
    text-align: left;
    width: 40%;
    padding: 0;
  }
}

.footer__text {
  text-align: center;
  width: 100%;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6;
  margin: 0px 0px 20px 0px;
  padding: 0px 30px 0px 0px;
}
@media (min-width: 1200px) {
  .footer__text {
    text-align: left;
    width: 60%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
}

.footer__btn {
  margin: 0 auto;
  background-color: #5A98D0;
  padding: 15px 75px 0px 75px;
}
@media (min-width: 1200px) {
  .footer__btn {
    margin: 0px 0px 0px 0px;
    width: 30%;
  }
}

.footer__contacts {
  width: 100%;
  margin: 0px 0px 60px 0px;
}
@media (min-width: 1200px) {
  .footer__contacts {
    width: 35%;
    margin: 0px 100px 0px 0px;
  }
}

.footer__logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 33px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1200px) {
  .footer__logo-wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer__logo-img {
  display: block;
  position: relative;
  margin: 0px 0px 0px 16px;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
  color: #316099;
  text-align: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #316099;
  background: #ffffff;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.footer__logo-img::before {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #98C3E8;
  z-index: 1;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.footer__logo-img:hover {
  color: #5A98D0;
}
.footer__logo-img:active {
  color: #1F3F68;
}
.footer__logo-img:hover::before {
  background: #5A98D0;
}
.footer__logo-img:active::before {
  background: #1F3F68;
}

.footer__logo-text {
  font-size: 24px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0px 0px 0px 16px;
}
@media (min-width: 768px) {
  .footer__logo-text {
    font-size: 26px;
  }
}
@media (min-width: 1200px) {
  .footer__logo-text {
    font-size: 28px;
  }
}

.footer__list--ate li {
  position: relative;
  margin: 0px 0px 24px 0px;
  padding: 0px 0px 0px 0px;
}
@media (min-width: 1200px) {
  .footer__list--ate li {
    padding: 0px 0px 0px 35px;
  }
}

.before-a::before {
  position: absolute;
  display: none;
  content: "A.";
  top: 1px;
  left: 0;
}
@media (min-width: 1200px) {
  .before-a::before {
    position: absolute;
    display: block;
    content: "A.";
    top: 1px;
    left: 0;
  }
}

.before-t::before {
  position: absolute;
  display: none;
  content: "T.";
  top: 1px;
  left: 0;
}
@media (min-width: 1200px) {
  .before-t::before {
    position: absolute;
    display: block;
    content: "T.";
    top: 1px;
    left: 0;
  }
}

.before-e::before {
  position: absolute;
  display: none;
  content: "E.";
  top: 1px;
  left: 0;
}
@media (min-width: 1200px) {
  .before-e::before {
    position: absolute;
    display: block;
    content: "E.";
    top: 1px;
    left: 0;
  }
}

.footer__list {
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: #ffffff;
}
@media (min-width: 1200px) {
  .footer__list {
    text-align: left;
  }
}

.footer__list li {
  margin: 0px 0px 16px 0px;
}

.list__link {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.footer__about {
  text-align: center;
  margin: 0px 0px 60px 0px;
}
@media (min-width: 1200px) {
  .footer__about {
    text-align: left;
    margin: 0px 77px 0px 0px;
  }
}

.footer__title-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 0px 0px 32px 0px;
}
@media (min-width: 768px) {
  .footer__title-list {
    font-size: 20px;
  }
}

.footer__follow {
  text-align: center;
}
@media (min-width: 1200px) {
  .footer__follow {
    text-align: left;
    width: 25%;
  }
}

.footer__copyright {
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.4;
  padding: 0px 0px 64px 0px;
}
@media (min-width: 1200px) {
  .footer__copyright {
    text-align: left;
    padding: 0px 0px 64px 40px;
  }
}

.none {
  display: none;
}