.client {
    background: $blue-04;
    border-radius: 100px 0px 0px 0px;
    padding: 36px 0px 0px 0px;

    @media (min-width: 768px) {
        border-radius: 150px 0px 0px 0px;
        padding: 66px 0px 0px 0px;
    }
    
    @media (min-width: 1200px) {
        border-radius: 200px 0px 0px 0px;
        padding: 96px 0px 0px 0px;
    }
}

.client__row {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 61px 0px;

    @media (min-width: 768px) {
        margin: 0px 0px 81px 0px;
    }
    
    @media (min-width: 1200px) {
        flex-direction: row;
        margin: 0px 0px 111px 0px;
    }
}
.client__title {
    text-align: center;
    color: $white;
    margin: 0px 0px 20px 0px;
    
    @media (min-width: 1200px) {
        text-align: left;
        margin: 0px 0px 0px 0px;
    }
}
.client__text {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.05em;
    color: $white;
    opacity: 0.6;
}

.clients__table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    margin: 0px 0px 45px 0px;

    @media (min-width: 768px) {
        margin: 0px 0px 85px 0px;
    }

    @media (min-width: 1200px) {
        margin: 0px 0px 125px 0px;
    }
}

td {
    display: block;
    width: 70%;
    margin: 0 auto;
    padding: 41px 0px;
    text-align: center;
    transition: all 0.2s ease-in;

    &:hover {
        background-color: $blue-01;
        .table__link {
            color: $blue-05;
        }
    }

    @media (min-width: 768px) {
        display: inline-block;
        width: 25%;
        margin: 0;
    }
}

.table__cell--top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-right: none;

    @media (min-width: 768px) {
        border-right: 1px solid rgba(255, 255, 255, 0.3);

        &:last-child {
            border-right: none;
        }
    }
}

.table__cell--bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-right: none;

    @media (min-width: 768px) {
        border-top: none;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        
        &:last-child {
            border-right: none;
        }
    }
}

.table__link {
    font-size: 16px;
    line-height: 2.3;
    letter-spacing: 0.02em;
    color: #F2F2F2;
    transition: all 0.2s ease-in;

    @media (min-width: 1200px) {
        font-size: 20px;
    }
}